<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link href="/css/MainLogin.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container" id="container">
    <div class="form-container Student_Login-container">
        <form action="/login" method="post">
            <h1>로그인</h1>
            <input type="text" placeholder="아이디" name="UserId" maxlength="20" /><br>
            <input type="password" placeholder="비밀번호" name="Pwd" maxlength="20"/><br>
            <button>로그인</button>
        </form>
    </div>
</div>
<div class="option_container">
    <a href="MainLogin/find_id" class="up_page">아이디 찾기</a>
    <a href="...." class="up_page">비밀번호 찾기</a>
    <a href="/sign_up" class="up_page">회원가입</a>
</div>
</body>

</html>