<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="/css/sign-up.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container" id="container">
  <div class="form-container Student_Login-container">
    <form action="/sign_up" method="post">
      <h1>회원가입</h1>
      <input type="text" placeholder="아이디" name="UserId" maxlength="20" /><br>
      <input type="password" placeholder="비밀번호" name="Pwd" maxlength="20"/><br>
      <input type="text" placeholder="이름" name="Name" maxlength="20" /><br>
      <input type="email" placeholder="이메일" name="Email" maxlength="20"/><br>
      <input type="text" placeholder="전화번호" name="Phone" maxlength="20" /><br>
      <input type="password" placeholder="학번" name="SchoolId" maxlength="20"/><br>
      <input type="number" placeholder="분류" name="Level" maxlength="20" /><br>
      <button>회원가입</button>
    </form>
  </div>
</div>

</body>
</html>